* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(30, 30, 31, 0.562);
}

body {
    color: red;
}

li, a, button {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    font-size: 33px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 22px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgba(30, 30, 31, 0.562);
    color: white;
    font-size: 44px;
}

h1 {
    font-size: 88px;
    border-radius: 20px;
    background-color:rgba(49, 49, 51, 0.562);
    font-weight: 10000;
    border-bottom: solid 7px white;
    border-top: solid 7px white;
    margin: 17px 95px 10px 10px;
}

.logo {
    cursor: pointer;
    border-radius: 33px;
}

#navbar {
    list-style: none;
    border-radius: 17px;
    background-color: rgba(30, 30, 31, 0.562);
    padding: 20px 20px 20px 20px;
    float: right;
}
#navbar li {
    display: inline-block;
    padding: 0px 20px;
    border-radius: 20px;
}

#navbar li a {
    transition: all 0.3s ease 0s;
}

#navbar li a:hover {
    color: rgb(24, 138, 43);
}

h2 {
    padding: 29px;
    margin: 0px;
    font-size: 44px;
    background-color: rgba(48, 48, 51, 0.562);
    color: white;
    border-radius: 12px;

}

.contactlist {
    color: white;
    width: 50%;
    border: solid 5px rgba(255, 255, 255, 0.562);
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 10px;
    font-weight: 1000px;
    letter-spacing: 3px;
    text-align: center;
}

.conlistit {
    font-size: 28px;
}

.member {
    margin: 2px 2px 2px 0px;
}

.nav-secondary {
    margin: 0px 30px 0px 0px;
    border-left: solid 5px white;
    border-right: solid 5px white;
}



.blueprintpic {
    width: 50%;
    height: 591px;
    float: right;
    border: solid 5px rgba(30, 30, 31, 0.562);
}
 
.footerp3 {
    display: flex;
    margin: 0px 0px 0px 0px;
    width: 100%;
    position: absolute;
}
.iconsp3 {
    display: flex;
    list-style-type: none;
    letter-spacing: 200px;
    font-size: 60px;
    padding: 13px 420px 40px 600px;
}
.iframep3 {
    width: 850px;
    height: 401px;
    padding-left: 115px;
    padding-right: 0px;
    background-color: transparent;
}

#iframediv3 {
    border-radius: 44px;
    background-color:rgba(24, 138, 43, 0.397);
    margin-left: 50px;
}
.dahouse2 {
    width: 47%;
    height: 450px;
    margin-left: 90px;
}
.bbh3 {
    text-align: center;
    color: white;
    font-size: 44px;
}
.bbh4 {
    color: white;
    text-align: center;
    font-size: 44px;
}
.bbh5 {
    color: white;
    text-align: center;
    font-size: 44px;
}
.scip3 {
    display: flex;
    list-style: none;
    letter-spacing: 200px;
    font-size: 60px;
    padding: 49px 20px 60px 550px;
    margin-left: 0%;
    bottom: 0;
    background-color:rgba(30, 30, 31, 0.562)
}
.facebook a {
    background-color: transparent;
}
.facebook {
    background-color: transparent;
}
.instagram {
    background-color: transparent;
}
.instagram a {
    background-color: transparent;
}
.twitter {
    background-color: transparent;
}
.twitter a {
    background-color: transparent;
}

.envelope {
    background-color: transparent;
}
.envelope a {
    background-color: transparent;
}
@media screen and (max-width:1639px) and (min-width:768px){
    body {
        color: blue;
    }
 
    h1 {
     font-size: 75px;
     padding-left: 2;
     padding-right: 20px;
     text-align: center;
     display: inline-flex;
     margin: -100px 700px 90px 44px;
     border-top: none;
    }
    .bibooh {
        text-align: center;
        margin-left: 325px;
        width: 50%;
        border: none;
    }
    .logo {
     margin-right: 222px;
     margin-bottom: 222px;
    }
    .iframep1 {
        width: 600px;
        margin: 0px 0px 0px 90px;
    }
    .dahouse {
        width: 38%;
        padding: 0;
        padding-right: 25px;
    }
    #navbar {
        margin: 40px 0px 0px 0px;
        float: left;
        position: absolute;
    }
     }
     .h2p1 {
         margin-left: 40px;
     }
     .phone-map {
         padding-right: 204px;
         display: inline-block;
         margin-right: 50px;
     }
     .sci {
         display: flex;
         list-style: none;
         letter-spacing: 200px;
         font-size: 60px;
         padding: 49px 200px 40px 120px;
         bottom: 0;
         
     }
 
     
     @media screen and (max-width:999px) and (min-width:531px){
         .bibooh {
             width: 48%;
             margin-left: 132px;
         }
         .dahouse {
             width: 48%;
         }
         .button {
             width: 400px;
             margin: 50px;
             padding-bottom: 120px;
             margin-bottom: 100px;
             border-bottom: none;
             background-color: rgba(9, 48, 99, 0.911);
         }
         .button a {
             padding-bottom: 5px;
             padding-top: 40px;
             background-color:rgba(6, 45, 95, 0.527)
         }
         #navbar {
             margin: 0px 0px 0px 10px;
             float: left;
             position: absolute;
             width: 100%;
             display: flex;
             overflow: auto;
         }
         .vikp2 {
             display: inline-block;
         }
         .caltxt2 {
            
         }
 
         h1 {
             border-top: none;
         }
         .bibooh {
             border: solid 7px white;
         }
     }
     @media screen and (max-width:530px) and (min-width:400px){
         .bibooh {
             width: 44%;
             margin-left: 44px;
         }
         .button {
             width: 300px;
         }

         .scip3 {
             position: absolute;
         }
 
 
         h1 {
             margin-left: 10px;
             border-top: none;
         }
         .logo {
             margin-left: -20px;
         }
         .iframep3 {
             width: 400px;
         }
         .email-map {
             margin-left: -68px;
             font-size: 24px;
         }
         .phone-map {
             margin-left: 36px;
             font-size: 24px;
         }
         #navbar {
             width: 100%;
             margin-bottom: 0px;
             position: absolute;
             display: inline-block;
         }
     }
 
 
 