* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(30, 30, 31, 0.562);
}

body {
    color: red;
}
 

li, a, button {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    font-size: 33px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 22px;
}


h1 {
    color: white;
    font-weight: 900px;
    font-size: 94px;
    background-color: rgba(48, 48, 51, 0.562);
    padding: 0px 3px 3px 3px;
    margin: 24px 42px 13px 177px;
    border-radius: 22px;
    border-bottom: solid 7px white;
    border-top: solid 7px white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgba(30, 30, 31, 0.562);
}

.logo {
    cursor: pointer;
    border-radius: 33px;
}

.navbar {
    list-style: none;
    border-radius: 17px;
    background-color: rgba(30, 30, 31, 0.562);
    padding: 20px 20px 20px 20px;
    float: right;
}
.navbar li {
    display: inline-block;
    padding: 0px 20px;
    border-radius: 20px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color:rgb(24, 138, 43);
}

.p1sfc {
    padding-left: 25px;
    padding-top: 30px;
    padding-right: 25px;
    border: solid rgba(30, 30, 31, 0.562);
    width: 50%;
    color: white;
    font-size: 35px;
    display: inline-block;
    background-color: rgb(63, 62, 62);
    float: right;
}

.imgsfc {
    width: 100%;
    height: 645.45px;
    float: right;
    border: solid rgba(30, 30, 31, 0.562);
    padding: 5px
}
.ace {
    border: solid 5px rgba(30, 30, 31, 0.562);
}
.h2p1 {
    color: white;
    text-align: center;
    font-size: 39px;
    padding: 15px 20px 10px 20px;
    margin: 9px 9px 20px 9px;
}

.iframep1 {
    width: 850px;
    height: 401px;
    padding-left: 89px;
    padding-right: 0px;
}

.bbh3 {
    text-align: center;
    color: white;
    font-size: 51px;
    padding-bottom: 19px;
    border-bottom: solid 5px white;
    padding-top: 7px;
}

.bbh4 {
    text-align: center;
    color: white;
    font-size: 24px;
}

.bbh5 {
    text-align: center;
    color: white;
    font-size: 24px;
}

.bbh6 {
    color: white;
    text-align: center;
    font-size: 51px;
    border-bottom: solid 5px white;
    background-color: transparent;
    width: 100%;
}

.email-map {
    text-align: center;
    padding: 0px 0px 0px 40%;
    font-size: 30px;
}

.phone-map {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 30px;
    padding: 0px 0px 0px 44%;
}

.bbh7 {
    color: white;
    padding: 20px 10px 10px 170px;
    font-size: 27px;
    background-color: transparent;
}

.bbh8 {
    color: white;
    padding: 10px 10px 10px 170px;
    font-size: 27px;
    background-color: transparent;
}


.vdaysnow {
    width: 50%;
    height: 550.1px;
    float: right;
    border:rgba(30, 30, 31, 0.562) 5px solid;
}
 
.footerp2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    padding: 0px 10px 10px 60px;
    margin-bottom: 0px;
}

.sci {
    display: flex;
    list-style: none;
    letter-spacing: 200px;
    font-size: 60px;
    padding: 49px 420px 40px 580px;
    bottom: 0;
}

.facebook {
    background-color:transparent;
    padding: 0;
    color:rgb(9, 48, 99);
    border-style: none;
}
.instagram {
    background-color: transparent;
    color:rgb(24, 138, 43);
}
.twitter {
    background-color: transparent;
    color: rgb(9, 48, 99);
}
.envelope {
    background-color: transparent;
    color: rgb(24, 138, 43);
}
@media (max-width: 800px) {
    body {
        color: blue;
        font-size: 27px;
        padding: 3px;
        text-align: center;
        
    }
    .header {
        width: 100%;
    }
    .logo {
        margin: 2px 3px 2px 62px;
    }
    h1 {
        font-size: 45px;
        margin: 0px 90px 10px -30px;
        font-size: 45px;
        float: left;
        position: absolute;
    }

    .p1sfc {
        width: 100%;
        padding-right: 20px;
        margin-right: 20px;
        text-align: center;
        font-size: 20px;
    }
    .footerp1 {
        margin: 0px 0px 0px 0px;
    }

    .sci {
        display: inline;
        margin: 4px 4px -24px 4px;
    }

    .imgsfc {
        display: flex;
        width: 100%;
    }

    .iframep1 {
        width: 100%;
        height: 500px;
    }
    .navbar {
        display: grid;
        justify-items: center;
        text-align: center;
        width: 100%;
        float: right;
        margin-right: 2px;
        font-size: 34px;
    }
}
@media (max-width: 500px) {
    body {
        color: blue;
        font-size: 27px;
        padding: 3px;
        text-align: center;
        
    }
    .header {
        width: 100%;
    }
    h1 {
        font-size: 55px;
        margin: 20px 270px 10px 5px;
        padding: 5px;
        font-size: 45px;
        
        position: absolute;
    }

    .p1sfc {
        width: 100%;
        padding-right: 20px;
        margin-right: 20px;
        text-align: center;
        font-size: 20px;
    }
    .footerp1 {
        margin: 0px 0px 0px 0px;
    }

    .sci {
        display: inline;
        margin: 4px 4px -24px 4px;
    }

    .imgsfc {
        display: flex;
        width: 100%;
    }
    .navbar {
        display: grid;
        justify-items: center;
        text-align: center;
        width: 100%;
        float: left;
        margin-right: 35px;
    }
}

@media (max-width: 600px) {
    body {
        color: blue;
        font-size: 27px;
        padding: 3px;
        text-align: center;
        
    }
    .header {
        width: 100%;
    }
    h1 {
        font-size: 55px;
        margin: 20px 270px 10px 5px;
        padding: 5px;
        font-size: 45px;
        
        position: absolute;
    }

    .p1sfc {
        width: 100%;
        padding-right: 20px;
        margin-right: 20px;
        text-align: center;
        font-size: 20px;
    }
    .footerp1 {
        margin: 0px 0px 0px 0px;
    }

    .sci {
        display: inline;
        margin: 4px 4px -24px 4px;
    }

    .imgsfc {
        display: flex;
        width: 100%;
    }

    .iframep1 {
        height: 400px;
        width: 100%;
    }
    .navbar {
        display: grid;
        justify-items: center;
        text-align: center;
        width: 100%;
        float: left;
        margin-right: 35px;
    }
}

@media (max-width: 400px) {
    .bbh6 {
        width: 100%;
        text-align: center;
    }
    .bbh7 {
        width: 100%;
        text-align: center;
    }
    .bbh8 {
        width: 100%;
        text-align: center;
    }
    .sci {
        
    }
}
